<% content_for :title, 'Account settings' %>

<div class="alert alert-dark text-center" role="alert">
  Here you can edit your account settings (and only yours).
</div>

<div class="container-fluid px-2 t-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-2">
      <%= form.label :email, class: 'h3' %><br />
      <%= form.email_field :email, placeholder: 'new email address ?' %>
    </div>

    <hr/>
    
    <!-- 
      NOT USING THIS DEVISE FEATURE ATM
      <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>
      <%# end %>
    -->

    <div class="field mt-2">
      <%= form.label :password, class: 'h3' %><br />
      <%= form.password_field :password, placeholder: "new-password ?" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field mt-2">
      <%= form.label :password_confirmation, class: 'h3' %><br />
      <%= form.password_field :password_confirmation, placeholder: "new-password (bis) ?" %>
    </div>

    <hr/>

    <div class="field mt-2">
      <%= form.label :current_password,  class: 'h3'%> <i class='h5'>(required to confirm your changes)</i><br />
      <%= form.password_field :current_password, placeholder: "current-password" %>
    </div>

    <hr/>

    <div class="actions">
      <%= form.submit "Update my settings", class: 'btn btn-lg btn-success' %>
    </div>
  <% end %>

  <hr/>

  <p><%= button_to "I want to delete my account.", registration_path(resource_name), data: { confirm: "Oh no. Please don't. Please. Pleeeaaaaaseeeeee..." }, method: :delete, class: 'btn btn-lg btn-danger' %></p>

  <hr/>

</div> <!-- /container-fluid -->

 <%= link_to 'Back to homepage', events_path, class: 'btn btn-lg btn-info mx-2' %>
